{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <title>Cactus - Viva o Jogo</title>

</head>

<body>
   
  <h1> Excluir tarefa?  </h1>
  <p> Tem certeza que quer Excluir os dados do id: {{ biblioteca.id }}? </p>
  <form method="POST">
    {% csrf_token %}
    {{ form }}

    <button type="submit">Excluir</button>
  </form>
  <button> <a href=" {% url 'listarBiblio' %}"> Cancelar </a></button>
</body>
</html>