@charset "UTF-8";

* {
	padding: 0;
	margin: 0;
}
.flex-container
{
	
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	width: 100vw;
	
}

.flex-container div
{
	width: calc(100vw/3);
	height: 50px;
	text-align: center;
}

#div1
{
	background-color: red;    
}

#div2
{
	background-color: green;
}

#div3
{
	background-color: aqua;
}