@charset "utf-8";

body{
    background-color: #313435;
}

*{
    color: white;
}


input{
    background-color: #313435;
    border-radius: 5px 5px 5px 5px;
    border: none;
    width: 15vw;
    height: 40px;
    margin: 10px 30px 10px 78px;
} 

input[type=submit]{
    background-color: #e75e8d;
    border-radius: 5px 5px 5px 5px;
    border: none;
    width: 10vw;
    height: 40px;
    margin: 10px 30px 10px 120px;
}

.imagemlegal{
    flex-wrap: wrap;
    margin-top: 13px;
    margin-bottom: 35px;
    height: 18vh;
}

.loginbox{
    border: solid;
    border-radius: 5px 5px 5px 5px;
    border-color: rgb(139, 139, 139);
    height: 34vh;
    width: 27vw;
    align-content: center;
    margin-top: 2px;
}
.cadastrobox{
    border: solid;
    border-radius: 5px 5px 5px 5px;
    border-color: rgb(139, 139, 139);
    height: 57vh;
    width: 26vw;
    align-content: center;
    margin-top: 2px;
}

.loginzin{
    margin-left: 133px; 
}

.cadastrin{
    margin-left: 148px;
}

.mamaeui{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}